.home-card-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

h1 {
    font-size: x-large;
}

.home-card-content {
    text-align: justify;
    word-spacing: 110%;
    line-height: 150%;
}

.home-card-content-name {
    font-size: large;
    font-weight: bolder;
}

.quote {
    font-style: oblique;
    font-size: 90%;
}

.quote::before {
    content: "\201C";
}

.quote::after {
    content: "\201D";
}